.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #0f0f0f;
}

.login > img {
  width: 100%;
  width: 550px;
}

.login > a {
  color: white;
  padding: 10px 40px;
  background-color: #1ed760;
  border-radius: 99px;
  font-weight: bolder;
  text-decoration: none;
  cursor: pointer;
}

.login > a:hover {
  background-color: #1db954;
}

@media (max-width: 480px) {
  .login > img {
    width: 300px;
  }

  .login > a {
    padding: 15px 40px;
  }
}
